
.tous-exams{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        margin-top: 20px;
        height: 100%;
    }
    .table-responsive {
        margin-top: 52px;
        margin-left: 11px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        th#t {
            width: 5%;
              }
        th#ens {
             width: 28%;
               }
        th#mat {
            text-align: center;   
             width: 17% !important;
        }
        th#dat {
            text-align: center;width: 25%;
        }
        th#heur {
            text-align: center;width: 25%;
        }
        td#t {
            text-align: center;
              }
    
        td#ens {
            text-align: left;

        }
        td#mat {
            text-align: center;
        }
        td#dat {
            text-align: center;     
         }
        td#heur {
            text-align: center;
        }
    }

}
.exam-mat{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        margin-top: 20px;
        height: 100%;
    }
    .table-responsive {
        margin-top: 52px;
        margin-left: 11px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        th#t {
            width: 5%;
              }
        th#ens {
             width: 28%;
               }
        th#mat {
            text-align: center;
            width: 17% !important;
        }
        th#dat {
            text-align: center;width: 25%;
        }
        th#heur {
            text-align: center;width: 25%;
        }
        td#t {
            text-align: center;
              }
    
        td#ens {
            text-align: left;

        }
        td#mat {
            text-align: center;
        }
        td#dat {
            text-align: center;     
         }
        td#heur {
            text-align: center;
        }
    }

}
.exam-p{
    
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        margin-top: 20px;
        height: 100%;
    }
    .table-responsive {
        margin-top: 52px;
        margin-left: 11px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        th#t {
            width: 5%;
              }
        th#ens {
             width: 28%;
               }
        th#mat {
            text-align: center;    
            width: 17% !important;

        }
        th#dat {
            text-align: center;width: 25%;
        }
        th#heur {
            text-align: center;width: 25%;
        }
        td#t {
            text-align: center;
              }
    
        td#ens {
            text-align: left;

        }
        td#mat {
            text-align: center;
        }
        td#dat {
            text-align: center;     
         }
        td#heur {
            text-align: center;
        }
    }

}
