button#modifier {
    width: 40%;
}
/* button#annuler {
    width: 40%;
    margin-top: -62px;
    margin-right: 75px;
} */
button#annulerupelv {
    width: 40%;
    margin-left: 265px;
    margin-top: -60px;
}