.tous-abs{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        height: 100%;
        margin-top: 20px;
    }

    .table-responsive {
        margin-left: 11px;
        margin-top: 52px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        th#t {
            width: 3% !important;
        }
        td#t {
            text-align: center;

        }
        th#ens {
            width: 29% !important;
        }
        td#ens {
            text-align: left;

        }
          th#mat {
            text-align: center;
            width: 14% !important;
        }
        td#mat {
            text-align: center;
        }
    
         th#dat {
             text-align: center;
             width:25% !important;
         }
         td#dat {
             text-align: center;                          
         }
               
         th#heur {
             text-align: center;
             width:25% !important;
 
         }
         td#heur {
             text-align: center;

         }
    }
}
.abs-mat{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        height: 100%;
        margin-top: 20px;
    }

    .table-responsive {
        margin-left: 11px;
        margin-top: 52px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        th#t {
            width: 3% !important;
        }
        td#t {
            text-align: center;

        }
        th#ens {
            width: 29% !important;
        }
        td#ens {
            text-align: left;

        }
          th#mat {
            text-align: center;
            width: 14% !important;

        }
        td#mat {
            text-align: center;
        }
    
         th#dat {
             text-align: center;
             width:25% !important;
         }
         td#dat {
             text-align: center;                          
         }
               
         th#heur {
             text-align: center;
             width:25% !important;
 
         }
         td#heur {
             text-align: center;

         }
        


    }
    
}

.abs-p{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        height: 100%;
        margin-top: 20px;
    }

    .table-responsive {
        margin-left: 11px;
        margin-top: 52px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        th#t {
            width: 3% !important;
        }
        td#t {
            text-align: center;

        }
        th#ens {
            width: 29% !important;
        }
        td#ens {
            text-align: left;

        }
          th#mat {
            text-align: center;
            width: 14% !important;

        }
        td#mat {
            text-align: center;
        }
    
         th#dat {
             text-align: center;
             width:25% !important;
         }
         td#dat {
             text-align: center;                          
         }
               
         th#heur {
             text-align: center;
             width:25% !important;
 
         }
         td#heur {
             text-align: center;

         }
        


    }
}
