button#modif {
  padding: 0px;
  padding-right: 15px;
  padding-left: 10px;
}
button#supp {
  padding: 0px;
  padding-right: 15px;
  padding-left: 10px;
}
#tltp {
  width: 200%;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
}