div#cardelev {
    width: 100%;
    margin-left: 0%;
    height: 100%;
    margin-top: 20px;


.table-responsive {
    margin-left: 11px;
    margin-top: 52px;
    display: block;
    width: 98%;
    color: grey;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    th#mat {
        text-align: center;
        width: 28%;
    }
    td#mat {
        text-align: center;

    }
    th#date {
        text-align: center;
        width: 36%;
    }
    td#date {
        text-align: center;

    }
      th#horaire {
        width: 37%; 
        text-align: center;
    }
    td#horaire {
        text-align: center;
    }
    

    }
}