
.abs-mat{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        height: 100%;
        margin-top: 20px;
    }

    .table-responsive {
        margin-left: 11px;
        margin-top: 52px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
       
    th#classe {
        text-align: center;    }
    td#classe {
        text-align: center;    }
          th#mat {
            text-align: center;
        }
        td#mat {
            text-align: center;
        }
        th#ens {
            text-align: center;
            width: 231px;
        }
        td#ens {
            text-align: center;
        }
         th#seance {
             text-align: center;
         }
         td#a {
                          text-align: center; 
             
            
         }
         td#de {
        text-align: center;            
            
         }
         
         th#date {
             text-align: center;
             width: 150px;            
 
         }
         td#date {
             text-align: center;

         }
        


    }
    
}
.tous-abs{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        height: 100%;
        margin-top: 20px;
    }

    .table-responsive {
        margin-left: 11px;
        margin-top: 52px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
       
    th#classe {
        text-align: center;    }
    td#classe {
        text-align: center;    }
          th#mat {
            text-align: center;
        }
        td#mat {
            text-align: center;
        }
        th#ens {
            text-align: center;
            width: 231px;
        }
        td#ens {
            text-align: center;
        }
         th#seance {
             text-align: center;
         }
         td#a {
                          text-align: center; 
             
            
         }
         td#de {
        text-align: center;            
            
         }
         
         th#date {
             text-align: center;
             width: 150px;            
 
         }
         td#date {
             text-align: center;

         }
        


    }
}
