.ligne-appel-select{

    th#num-ls{
        text-align: center;

    }
    
   
    td#nom-ls{    text-align: center;        

    }
    td#pre-ls{    text-align: center;        border: 2px solid;

    }
  
    td#abs-ls{
        text-align: center;

    }
}
.ligne-appel-update{
    th#num-lu {
        text-align: center;
    }
    
   
    td#nom-lu{    text-align: center;        

    }
    td#pre-lu{    text-align: center;        border: 2px solid;

    }
  
    td#abs-lu{
        text-align: center;

    }
}