.tous-cours{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        height: 100%;
        margin-top: 20px;
    }
    .table-responsive {
        margin-top: 52px;
        margin-left: 11px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
            
        

        th#t {
            text-align: center;
        }
        td#t {
            text-align: center;
        }
    th#date{
        text-align: center;
        width: 19% !important;    }
    td#date{
        text-align: center;
        
    }
    th#ens {
        width: 26%!important;    }
    td#ens {
        text-align: left;
    }
    th#mat {
        text-align: center;width: 15% !important;
    }
    td#mat {
        text-align: center;
    }
    th#cours {
        text-align: center; 
    }        
    td#voir {
        width: 10% !important;
        text-align: center; 

    }
    td#telecharger {
        width: 9% !important;
        text-align: center; 

    }
    th#travail {
        text-align: center; 
    } 
  
  
}
}
.cours-mat{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        height: 100%;
        margin-top: 20px;
    }
    .table-responsive {
        margin-top: 52px;
        margin-left: 11px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        th#t {
            text-align: center;
        }
        td#t {
            text-align: center;
        }
    th#date{
        text-align: center;
        width: 19% !important;    }
    td#date{
        text-align: center;
        
    }
    th#ens {
        width: 26%!important;    }
    td#ens {
        text-align: left;
    }
    th#mat {
        text-align: center;width: 15% !important;
    }
    td#mat {
        text-align: center;
    }
    th#cours {
        text-align: center; 
    }        
    td#voir {
        width: 10% !important;
        text-align: center; 

    }
    td#telecharger {
        width: 9% !important;
        text-align: center; 

    }
    th#travail {
        text-align: center; 
    } 
  
}
}
.cours-p{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        height: 100%;
        margin-top: 20px;
    }
    .table-responsive {
        margin-top: 52px;
        margin-left: 11px;
        display: block;
        width: 98%;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        th#t {
            text-align: center;
        }
        td#t {
            text-align: center;
        }
    th#date{
        text-align: center;
        width: 19% !important;    }
    td#date{
        text-align: center;
        
    }
    th#ens {
        width: 26%!important;    }
    td#ens {
        text-align: left;
    }
    th#mat {
        text-align: center;width: 15% !important;
    }
    td#mat {
        text-align: center;
    }
    th#cours {
        text-align: center; 
    }        
    td#voir {
        width: 10% !important;
        text-align: center; 

    }
    td#telecharger {
        width: 9% !important;
        text-align: center; 

    }
    th#travail {
        text-align: center; 
    } 
  
}
}