#tous-consulter{
    margin-top: 40px;
    
     .table-responsive {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        

    .table {
        
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        th#t-tc{text-align: center; width: 1%;}
        td#t-tc{text-align: center;}

        th#cls-tc{text-align: center; width: 8%;}
        td#cls-tc{text-align: center;}
        
        th#mat-tc{text-align: center;width: 8%;}
        td#mat-tc{text-align: center;}

        th#typ-tc{text-align: center;width: 9%;}
        td#typ-tc{text-align: center;}

        th#dat-tc{text-align: center;width: 13%;}
        td#dat-tc{text-align: center;}

        th#heure-tc{text-align: center;width: 13%;}
        td#heure-tc{text-align: center;}
        

    }
}
}


#periode-consulter{
    margin-top: 40px;
    
     .table-responsive {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        

        .table {
        
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            margin-bottom: 1rem;
            background-color: transparent;
            th#t-pc{text-align: center; width: 1%;}
            td#t-pc{text-align: center;}
    
            th#cls-pc{text-align: center; width: 8%;}
            td#cls-pc{text-align: center;}
            
            th#mat-pc{text-align: center;width: 8%;}
            td#mat-pc{text-align: center;}
    
            th#typ-pc{text-align: center;width: 9%;}
            td#typ-pc{text-align: center;}
    
            th#dat-pc{text-align: center;width: 13%;}
            td#dat-pc{text-align: center;}
    
            th#heure-pc{text-align: center;width: 13%;}
            td#heure-pc{text-align: center;}
            
    
        }
}
   }
   #mat-consulter{
    margin-top: 40px;
    
     .table-responsive {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        

        .table {
        
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            margin-bottom: 1rem;
            background-color: transparent;
            th#t-mc{text-align: center; width: 1%;}
            td#t-mc{text-align: center;}
    
            th#cls-mc{text-align: center; width: 8%;}
            td#cls-mc{text-align: center;}
            
            th#mat-mc{text-align: center;width: 8%;}
            td#mat-mc{text-align: center;}
    
            th#typ-mc{text-align: center;width: 9%;}
            td#typ-mc{text-align: center;}
    
            th#dat-mc{text-align: center;width: 13%;}
            td#dat-mc{text-align: center;}
    
            th#heure-mc{text-align: center;width: 13%;}
            td#heure-mc{text-align: center;}            
        }
}
   }