.card-travail{
    height: 93%;
    margin-top: 5%;
    
    form#form {
        margin-top: 27px;
    }

    div#form-travail {
        margin-top: 15px;
        #contenu{
            resize:none;
            width: 100%;
            }
    }
    div#form-file {
        margin-top: 43px;
        #filet{
            width: 100%;
        }
    }
   
        button#Coursenvoyer {
            width: 90%;
            margin-left: 240%;
            margin-top: 20%;
        }
        button#Coursreset {
            width: 90%;
            margin-left: 360%;
            margin-top: -52%;
        }

}