.ligne-ens{
  td#date{text-align: center;}

  td#t{text-align: center;}

  td#cls{text-align: center;}


  td#mat{text-align: center;}
  td#travail{text-align: center;}
  td#cours{text-align: center;}


  td#modif {
    width: 10% !important;
    text-align: center; 

}
td#supp {
  width: 9% !important;
  text-align: center; 

}
  
    }
  // a#nav_link_modifier {
    //     // cursor: pointer;
    //     // color: blue; 
    //     // -ms-transform: scale(1.5); /* IE 9 */
    //     // -webkit-transform: scale(1.5); /* Safari 3-8 */
    //     // transform: scale(1.5); 
    //     //   #modif {
    //     //     margin-left: 0%;
    //     //     width: 100%;
    //     //     padding-top: 5px;
    //     //     padding-bottom: 5px;
    //     //     padding-left: 0px;
    //     // }  
      
    
    //      }



    // a#nav_link_supprimer {

    //     // cursor: pointer;
    //     // color: red; 
    //     // -ms-transform: scale(1.5); /* IE 9 */
    //     // -webkit-transform: scale(1.5); /* Safari 3-8 */
    //     // transform: scale(1.5); 
    //   //   #supp {
    //   //     margin-left: 0%;
    //   //     width: 100%;
    //   //     padding-top: 5px;
    //   //     padding-bottom: 5px;
    //   //     padding-left: 15px;
    //   // }
    
   

    //   }