/* .dropdown-menu {
  font-size: 0.8rem;
  border-radius: border-radius;
  background: input-background;
  border-color: rgba(primary-color, 0.15);
  width: 235px !important;
  height: 400px !important;
}
.ddm {
  font-size: 0.8rem;
  border-radius: border-radius;
  background: input-background;
  border-color: rgba(primary-color, 0.15);
  width: 235px !important;
  height: 245px !important;
}
.dropdown-menu-right {
  margin-left: 40px;
  margin-right: 31px;
  margin-top: 12px;
  left: auto;
  margin-right: 45px;
}
.navbar .icon-menu-item i {
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 23px;
}

.rc-switch.custom-switch.custom-switch-small {
  width: 45px !important;
  bottom: -3px;
  height: 23px !important;
  margin-right: -3px;
}

.navbar .navbar-right .user {
  margin-right: 50px;
  bottom: 4px;
}

.navbar .navbar-right {
  flex-basis: 40%;
  text-align: right;
  margin-top: -16px;
}
.navbar .menu-button {
  width: 122px;
  margin-top: -37px;
  height: 17px;
}
.navbar .header-icon {
  font-size: 22px;
  color: #8f8f8f;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  vertical-align: baseline;
  vertical-align: initial;
}
.navbar .menu-button svg {
  height: 22px;
  width: 20px;
  margin-left: -4px;
  margin-top: 15px;
}

img {
  vertical-align: middle;
  border-style: none;
  margin-top: 4px;
}
.navbar .header-icon {
  font-size: 22px;
  color: #8f8f8f;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  vertical-align: baseline;
  vertical-align: initial;
  margin-top: -5px;
} */
