

.chronique-bus{
    div#cardelev {
        width: 100%;
        margin-left: 0%;
        height: 100%;
    }
    .table-responsive {
        margin-left: 11px;
        margin-top: 40px;
        display: block;
        color: grey;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        width: 100%;
        margin-left: 0%;
        th#Buslundi {
            width: 20%;
            height: 100px;
            padding-top: 40px;
            text-align: left;

        }
        th#Busmardi {
            width: 20%;
            height: 100px;
            padding-top: 40px;
            text-align: left;

        }
        th#Busmercredi {
            text-align: left;

            width: 20%;
            height: 100px;
            padding-top: 40px;
        }
        th#Busjeudi {
             width: 20%;
             height: 100px;
             padding-top: 40px;
            text-align: left;
        }
        th#Busvendredi {
            text-align: left;

            width: 20%;
            height: 100px;
            padding-top: 40px;
        }
        th#Bussamedi {
            text-align: left;

            width: 20%;
            height: 100px;
            padding-top: 40px;
        }
        th#Busdimanche {
            text-align: left;

            width: 20%;
            height: 100px;
            padding-top: 40px;
        }
        th#matin {
           text-align: center;
            height: 50px;
            width: 40%;
        }
        th#am{
            text-align: center;
        height: 50px;
        width: 50%;

        }
        ol.wm {
            list-style-position: inside;
            padding-left: inherit; 
            margin-left: 43%;
        }
        ol.wa {
            list-style-position: inside;
            padding-left: inherit; 
            margin-left: 40%;
        }
            // ol.wlm > li::before {
            //     content: "\A";
            //     white-space: pre;
            // }
        
        

    
}
}
    
