@import './ligne';
#tous-maj-travail{
    margin-top: 40px;
 .table-responsive {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    margin-left: 0%;


    .table {
    

        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        margin-left: 0%;
        th#classe {
            width: 8%;
            text-align: center;
        }     
        td#classe {
            //width: 15%;
            text-align: center; padding-top: 20px;
        }       
        th#ens {
            text-align: center;
            width: 23%;
        }
        td#ens {
            text-align: center; padding-top: 20px;
        }
        th#mat {
            text-align: center;
            width: 8%;
        }
        td#mat {
            text-align: center; padding-top: 20px;
        }
        th#description {
            text-align: center;
            width: 16%;
        }
        td#description {
            text-align: center; padding-top: 20px;
        }      
        th#cours {
            text-align: center;
            width: 11%;
        }
        td#cours {
            text-align: center; padding-top: 20px;
        }  
        th#date{text-align: center;}
        td#date{text-align: center; padding-top: 20px;}
       
        th#maj {
            text-align: center;
            width: 25%;
        }      
           
       
        td#maj{text-align: center; }

    }
}
}
#tous-consulter-travail{
    margin-top: 40px;
    
     .table-responsive {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        

    .table {
        
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        th#classe {
            text-align: center;
            width: 10%;
        }              
        td#classe{text-align: center; }
        th#ens {
            text-align: center;
            width: 29%;
        }       
        td#ens{text-align: center; }
        th#mat {
            text-align: center;
            width: 12%;
        }
                
        td#mat{text-align: center; }
        th#description {
            text-align: center;
            width: 26%;
        }
        td#description {
            text-align: center; 
        }
        th#cours {
            text-align: center;
            width: 13%;
        }
        td#cours {
            text-align: center; 
        }
        th#date {
            text-align: center;
            width: 10%;
        }
        td#date{text-align: center; }
       
        

    }
}
}
#periode-consulter-travail{
    margin-top: 40px;
    .table-responsive {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        

    .table {
        
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
         
        th#classe {
            text-align: center;
            width: 8%;
        }             
        td#classe{text-align: center; padding-top: 20px;}
        th#ens {
            text-align: center;
            width: 25%;
        }       
        td#ens{text-align: center; }
        th#mat {
            text-align: center;
            width: 15%;
        }
                
        td#mat{text-align: center;}
        th#description {
            text-align: center;
            width: 23%;
            
        }
        td#description {
            text-align: center; 
        }
        th#cours {
            text-align: center;
            width: 17%;
        }
        td#cours {
            text-align: center; 
        }
        th#date {
            text-align: center;
            width: 0%;
        }
        td#date{text-align: center; }
       
          
   
       }
   }
   }
   #periode-maj-travail{
    margin-top: 40px;
 .table-responsive {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    margin-left: 0%;


    .table {
    

        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        margin-left: 0%;
        th#classe {
            width: 8%;
            text-align: center;
        }     
        td#classe {
            text-align: center; padding-top: 20px;
        }       
        th#ens {
            text-align: center;
            width: 23%;
        }
        td#ens {
            text-align: center; padding-top: 20px;
        }
        th#mat {
            text-align: center;
            width: 8%;
        }
        td#mat {
            text-align: center; padding-top: 20px;
        }
        th#description {
            text-align: center;
            width: 16%;
        }
        td#description {
            text-align: center;    padding-top: 20px;
        
        }      
        th#cours {
            text-align: center;
            width: 11%;
        }
        td#cours {
            text-align: center;    padding-top: 20px;
        }
        
        th#date{text-align: center;}

        td#date{text-align: center;    padding-top: 20px;
        }
       
        th#maj {
            text-align: center;
            width: 25%;
        }      
           
       
        td#maj{text-align: center;}

    }
}
   }
   #mat-consulter-travail{
    margin-top: 40px;
    .table-responsive {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        

    .table {
        
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
         
        th#classe {
            text-align: center;
            width: 8%;
        }             
        td#classe{text-align: center;}
        th#ens {
            text-align: center;
            width: 25%;
        }       
        td#ens{text-align: center;}
        th#mat {
            text-align: center;
            width: 15%;
        }
                
        td#mat{text-align: center;}
        th#description {
            text-align: center;
            width: 23%;
        }
        td#description {
            text-align: center;
        }
        th#cours {
            text-align: center;
            width: 17%;
        }
        td#cours {
            text-align: center;
        }
        th#date {
            text-align: center;
            width: 0%;
        }
        td#date{text-align: center;}
       
          
   
       }
   }
   }
   #mat-maj-travail{
    margin-top: 40px;
 .table-responsive {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    margin-left: 0%;


    .table {
    

        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        margin-left: 0%;
        th#classe {
            width: 8%;
            text-align: center;
        }     
        td#classe {
            text-align: center; padding-top: 20px;
        }       
        th#ens {
            text-align: center;
            width: 23%;
        }
        td#ens {
            text-align: center; padding-top: 20px;
        }
        th#mat {
            text-align: center;
            width: 8%;
        }
        td#mat {
            text-align: center; padding-top: 20px;
        }
        th#description {
            text-align: center;
            width: 16%;
        }
        td#description {
            text-align: center; padding-top: 20px;
        }      
        th#cours {
            text-align: center;
            width: 11%;
        }
        td#cours {
            text-align: center; padding-top: 20px;
        }  
        th#date{text-align: center;}
        td#date{text-align: center;padding-top: 20px;}
       
        th#maj {
            text-align: center;
            width: 25%;
        }      
           
       
        td#maj{text-align: center;}

    }
}
   }
   div#Valuemat {
    margin-top: -15px;
}